@using TestApp.Models
@model TestApp.Models.UsersEntity

@{
    ViewData["Title"] = "Send";
}

<h4>Send Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Send">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Email" class="form-control" type="hidden" />
            <div class="form-group">
                <label class="control-label">Subject</label>
                <input class="form-control" name="subject" />
            </div>
            <div class="form-group">
                <label class="control-label">Message</label>
                <textarea class="form-control" name="message" /></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}